client_id = "07ed72f36780bb2bf8f1233aded23784"
name = "App Brige"
application_url = "https://example.com"
embedded = true



[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = ""
optional_scopes = ["write_products", "write_customers"]
use_legacy_install_flow = false

[auth]
redirect_urls = [ ]

